<div>
    <form action="/faculty/created" method="POST">
        <button class="btn-primary btn mt-3" type="submit">Create Test</button>
    </form>
    <form action='/faculty/{{title}}/cancel' method="POST">
        <button class="btn-primary btn mt-2" type="submit">Cancel</button>
    </form>
</div>